<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form action="{% url 'user:form_get' %}" method="get">-->
<form action="{% url 'user:form_post' %}" method="post">
    {% csrf_token %}
    username:
    <input type="text" name="username">
    <br>
    hobby:
    <input type="checkbox" name = "hobby" value="c">c
    <input type="checkbox" name = "hobby" value="c++">c++
    <br>
    <input type="submit" value="ok">
</form>

</body>
</html>